
body {
 background-color:rgb(98, 187, 216);
 color:black;
 text:align:center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


<img src ="assests/logo.png" alt="logo" class="logo">
header: :afte{
  content: "";
  display: table;
  clear:both;
}
logo{ 
   float:left;
   padding: 10px 0;
}
nav{ 
  float:right;
}
nav ul{ 
  margin: 0;
  padding;
  list-style:none;
}

nav  li{
  display:inline-block;
  margin-left:70px;
  padding-top:23px;
}
nav a {
  color#444;
  text-decoration:none;
  text-transforms:uppercase;
}

</body>



